{% load staticfiles %}
<br>
<br>
<h1 class="title text-center mt-1 mb-1 ">{{ mp_4.s_title }}</h1>
<h4 class="sub-title text-center">{{ mp_4.f_title }}</h4>
<h4 class="sub-title text-center" style="margin-bottom: 25px; "><a href="/service/1" style="color:#C78F00;">{{ mp_4.link }}</a></h4>
<br><br>
<div class="row">
  {% for i in mp_5 %}
    <div class="col-12 col-sm-6 col-md-3">
      <div class="a-single text-center mb-5">
        <img src="../media/{{ i.mp_icon }}">
        <h3>{{ i.s_title }}</h3>
        <div class="description text-justify " style="direction:rtl;">{{ i.s_shortdesc }}
        </div>
        <a href="/service/{{ i.id }}" class="btn-link" style="color:#C78F00;">   إقرأ أكثر    </a>
      </div>
    </div>
  {% endfor %}
</div>
<br>
