{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
    </div>
    <div class="col-12 col-lg-6">
      <div class="accordion-lists text-right text-white p-5">
        {% for i in mp_7 %}
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link p-0 m-0 w-100" data-toggle="collapse" data-target="#collapse{{i.id}}" aria-expanded="true" aria-controls="collapse{{i.id}}">
                {{ i.s_name }}<img src="{% static 'img/44.png' %}">
              </button>
            </h5>
          </div>
          <div id="collapse{{i.id}}" class="collapse" aria-labelledby="heading{{i.id}}" data-parent="#accordion">
            <div class="card-body p-0 pt-2 mb-4">
              {{ i.s_text }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
