{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contact</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static '/css/master.css' %}">
    <link rel="stylesheet" href="{% static '/css/contact_style.css' %}">
</head>

<body>

  <section id="home">
    {% include 'include/home.html' %}
  </section>


<div class="container margin_top">

  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
      <div class="page-title text-right ">
        <h2 class="mr-3">تواصل معنا</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xl-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.4425795818656!2d46.692213315001275!3d24.780294284091827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd19fbd9579f%3A0xed0a4573d6445479!2sA+J+Alkhaldi+Law+Firm!5e0!3m2!1sru!2sua!4v1537433083190" frameborder="0" style="border:0; width:100%; height:385px;" allowfullscreen>
            </iframe>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xl-3">
      <div class="contact_side">
        <h5 class="text-right mr-3"> <span><span class="in_bg pull-right"></span></span> اكتب لنا  </h5>
            {% include 'include/contact_block.html' %}
      </div>
    </div>
  </div>
	<div class="clearfix"></div>
  <br />
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xl-9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3572.3870503796243!2d50.106799784964956!3d26.44324998333203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjbCsDI2JzM1LjciTiA1MMKwMDYnMTYuNiJF!5e0!3m2!1sar!2sua!4v1541433927812" frameborder="0" style="border:0; width:100%; height:385px;" allowfullscreen></iframe>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xl-3">
      <div class="contact_side">
        <h5 class="text-right mr-3"> <span><span class="in_bg pull-right"></span></span> اكتب لنا  </h5>
            {% include 'include/contact_block0.html' %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br />
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xl-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.3050891048465!2d39.71363308506081!3d21.417249985789237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDI1JzAyLjEiTiAzOcKwNDInNDEuMiJF!5e0!3m2!1sar!2sua!4v1541434053766" frameborder="0" style="border:0; width:100%; height:385px;" allowfullscreen></iframe>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xl-3">
      <div class="contact_side">
        <h5 class="text-right mr-3"> <span><span class="in_bg pull-right"></span></span> اكتب لنا  </h5>
            {% include 'include/contact_block1.html' %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br />
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xl-9">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.4290136511527!2d31.229346014979242!3d30.024547581889586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145847334fa4b8c1%3A0x3ff9a1c396a2dcad!2sAl+Kasr+Al+Aini%2C+Fom+Al+Khalig+WA+Deir+an+Nahas%2C+Misr+Al+Qadimah%2C+Cairo+Governorate%2C+%D0%95%D0%B3%D0%B8%D0%BF%D0%B5%D1%82!5e0!3m2!1sru!2sua!4v1541434701986" frameborder="0" style="border:0; width:100%; height:385px;" allowfullscreen></iframe>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xl-3">
      <div class="contact_side">
        <h5 class="text-right mr-3"> <span><span class="in_bg pull-right"></span></span> اكتب لنا  </h5>
            {% include 'include/contact_block2.html' %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br />

   <!-- <div class="contactform">
      <div class="" dir="ltr">
        <div class="screen-reader-response">
        </div>
          <form method="post" class="" novalidate="novalidate">
            <div class="row">
              <div class="col-md-5">
                <span class="form-item">
                  <input type="text" name="your-name" value="" size="40" class="form-group text_my_input_first" aria-required="true" aria-invalid="false" placeholder=" Your name here" />
                </span>
                <br />
                <span class="form-item">
                  <input type="email" name="your-email" value="" size="40" class="form-group text_my_input" aria-required="true" aria-invalid="false" placeholder=" Your-email" />
                </span>
                <br />
                <span class="form-item">
                  <input type="text" name="your-subject" value="" size="40" class="form-group text_my_input" aria-invalid="false" placeholder=" Subject" />
                </span>
              </div>
              <div class="col-md-7 mt-3">
                <span class="form-item">
                  <textarea name="textarea" cols="40" rows="8" class="form-group text_col" aria-invalid="false" placeholder=" Write your message here.">
                  </textarea>
                </span>
              </div>
                </p>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" value="send" class="form_my_button" />
              </div>
              </p>
            </div>
          </form>
        </div>
      </div>
  	</div>
  </div>
  <div class="clearfix"></div>
<div class="clearfix"></div> -->
</div>

{%include 'include/footer.html' %}

</body>
