{% load staticfiles %}
<br><br>
<h1 class="title line text-center mt-0 mb-5 font-weight-bold"> من نحن؟ </h1>
<div class="container">
  <div class="row">
  <!-- добавил дополнительно pb-5 для отталкивания нижнего обЪекта -->
    <div class="col-12 col-lg-6 pt-2 pb-5">
      <div id="carouselDescription" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselDescription" data-slide-to="0" class="active"></li>
          <li data-target="#carouselDescription" data-slide-to="1"></li>
          <li data-target="#carouselDescription" data-slide-to="2"></li>
          <li data-target="#carouselDescription" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fbDu_-5qp9o?rel=0&vq=hd720" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="carousel-item text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fbDu_-5qp9o?rel=0&vq=hd720" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselDescription" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselDescription" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- внес изменения для отступа -->
    <div class="col-12 col-lg-6 pt-2">
      <div class="text-center">
        <h2 class="mb-2"> مكتب عبدالجليل الخالدي للمحاماة </h2>
        <div class="text">
          <p class="text-justify" style="direction: rtl;">
          مكتبنا خبرة في مختلف القضايا المدنية، والجنائية أمام محاكم المملكة العربية السعودية، ودول مجلس التعاون الخليجي، ومحاكم مصر، وفي العديد من دول العالم، فضلا عن تقديم خدمات الوساطة، والتحكيم.
    لدينا فريق من المحامين المتمرسين والمؤهلين من مختلف كليات القانون المعروفة، وهذا الفريق يقدم أعلى مستويات الترافع لدى جميع أنواع المحاكم والجهات شبه القضائية، ابتداء من جمع الأدلة مرورا بالمرافعات وحتى تقديم جميع لوائح الاستئناف، وذلك لخدمة العملاء من الأفراد، والشركات المحلية والدولية، والمؤسسات المالية، والهيئات العامة، ولدينا سجل حافل من التخطيط بعناية والعمل بسرعة وحسم وضمان نتيجة ناجحة.
          </p>

        </div>
        <img src="{% static 'img/img-about.jpg' %}" width="250">
      </div>
    </div>
  </div>
</div>
